@{
    ViewBag.Title = "THÔNG TIN SINH VIÊN";
}

<h2>@ViewBag.Title</h2>

<div>
    <a href="@Url.Action("GioiThieu", "NguyenTuanTu0720_63135967")">GIỚI THIỆU</a> |
    <a href="@Url.Action("ThemMoi", "NguyenTuanTu0720_63135967")">THÊM MỚI</a> |
    <a href="@Url.Action("Index", "NguyenTuanTu0720_63135967")">DANH SÁCH</a> |
    <a href="@Url.Action("TimKiem", "NguyenTuanTu0720_63135967")">TÌM KIẾM</a>
</div>

<div>
    <p>Mã SV: [mã sinh viên dự kiểm tra]</p>
    <p>Họ tên: [Tên SV dự kiểm tra]</p>
    <p>Lớp: ...</p>
    <p>Ngày kiểm tra: ...</p>
</div>
