@model IEnumerable<ThiGKNguyenTuanTu_63135967.Models.DICHVU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONGTY.TenCT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapNhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaDV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnhDaiDien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONGTY.TenCT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDV })
        </td>
    </tr>
}

</table>
