
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Đường dẫn đến layout chung
}


<div style="border:dashed; width: 100%; height:500px; text-align: center">
    <h2>THÔNG TIN ĐĂNG KÝ</h2>
    <div class="col-md-3" style="display: inline-block">
        <img style="width: 200px; height: 200px;" src="@ViewBag.Avatar" />
    </div>
    <div class="col-md-9" style="display: inline-block ;font-size: medium; height: 45px; line-height: 25px;">
        Tên: @ViewBag.Name <br />
        Số điện thoại: @ViewBag.PhoneNumber <br />
        Email: @ViewBag.Email <br />
        Mật khẩu: @ViewBag.Password <br />
        <a href="@Url.Action("Register", "Account")">Quay lại trang đăng ký</a>
    </div>
</div>
